<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="repositorioo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <repositorioo.Properties.Settings>
            <setting name="DefElmo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefCapa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefOrn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AtkElmo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AtkCapa" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AtkOrn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeclaAtalho" serializeAs="String">
                <value />
            </setting>
        </repositorioo.Properties.Settings>
    </userSettings>
</configuration>